body {
  background-image: url("popcorns.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  height: 700px;
  overflow: hidden;
}



h1 {
  margin-top: 6rem;
  color: white;
  text-shadow: 1px 1px black;
  font-weight: 600;
}

h3,
h2 {
  color: white;
  text-shadow: 1px 1px black;
  font-weight: 600;
}

.movies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: block;
  width: 90%;
  background-color: rgb(147, 38, 38);
  box-shadow: 0 4px 8px 0 rgb(49, 48, 48), 0 6px 20px 0 rgb(104, 104, 104);
  height: 390px;
  z-index: 9999;
  display: none;
  transition: all 0.9s ease;
  margin-left: 5%;
  margin-top: 0rem;
  border-radius: 20px;
}

.container {
  align-items: center;
  justify-content: center;
  z-index: 999;
  margin-top: 10%;
}

h3 {
  margin-top: 5rem;
  text-align: center;
}

.btn {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/*Media queries*/

@media (min-width: 768px) {

  body{
    overflow-y: hidden;
  }

  #btn {
    flex-direction: row;
  }

  #romance-button,
  #drama-button,
  #comedy-button,
  #action-button {
    margin-left: 1rem;
  }

  .movies-container{
    height: 300px;
  }

}
